/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Белый цвет #FFFFFF */
/* Акцент #2196F3 */
/* Цвет контактов футера rgba(255, 255, 255, 0.6) */
/* Цвет основного фона #ffffff */
/* Вторичный цвет фона  #2F303A */
/* Дополнительный цвет фона #F5F4FA */

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff') format('woff'),
    /* Modern Browsers */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff') format('woff'),
    /* Modern Browsers */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff') format('woff'),
    /* Modern Browsers */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto')
      format('svg'); /* Legacy iOS */
}

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --white: #ffffff;
  --footer-contact: rgba (255, 255, 255, 0.6);
  --main-bgc: #ffffff;
  --scnd-bgc: #2f303a;
  --third-bgc: #f5f4fa;
}

/* Главная страница */

.list {
  list-style: none;
}
body {
  background-color: var(--main-bgc);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Стилизация Чердака */
.page-header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.site-nav .link.current {
  color: var(--accent);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  color: #2196f3;
}
.logo-header {
  color: var(--title-text-color);
}
.header-contacts .link {
  color: var(--main-text-color);
  text-decoration: none;
}

/* Стилизирует секцию Герой */
.hero {
  background-color: var(--scnd-bgc);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}
.button {
  background-color: var(--accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

/* Стилизация секции Особенности  */
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-skill {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.section .title {
  text-align: center;
}

/* Стилизация секции Наша команда */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.team .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
}
.team .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* Стилизация подвала  */
.footer {
  background-color: #2f303a;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.logo-footer {
  color: var(--white);
}
.footer-contacts p {
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}
.footer-contacts a {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
