/* Стилизирует секцию Герой */

.hero {
  text-align: center;
  background-color: var(--scnd-bgc);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .container {
  margin-top: 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: var(--white);

  margin-bottom: 30px;
}

.button {
  display: inline-block;
  outline: transparent;
  /* padding: 10px 32px; аналогично написаному ниже*/
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  background-color: var(--accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

/* Стилизация секции Особенности  */

.features .list {
  display: flex;
}

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  display: block;
  min-width: 270px;
  min-height: 16px;
  margin-bottom: 10px;
}
.features-skill {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.features-container .list {
  display: flex;
  justify-content: space-between;
}

.features-container .item {
  width: calc((100% - 90px) / 4);
}

/* Чем мы занимаемся */

.works-section {
  padding-top: 0px;
}

.works-title {
  text-align: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.works .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.works .list:nth-child(3n + 1) {
  margin-left: 0;
}

.works .item {
  margin-left: 30px;
  margin-top: 50px;
  flex-basis: calc(100% / 3 - 30px);
}

/* Стилизация секции Наша команда */

.team {
  background-color: var(--third-bgc);
}

.team-title {
  text-align: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.team .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team .item {
  margin-left: 30px;
  margin-top: 50px;
  flex-basis: calc(100% / 4 - 30px);
  background-color: var(--white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  margin-bottom: 30px;
}
