/* Стилизация портфолио */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio p {
  font-size: 16px;
  line-height: 1.87;
}
.button {
  font-family: inherit;
}
.btn {
  background-color: var(--third-bgc);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent);
  color: var(--white);
}

/* Стилизация подвала  */
.footer {
  background-color: #2f303a;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.logo-footer {
  color: var(--white);
}
.footer-contacts p {
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}
.footer-contacts a {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
